server.jar
paper-*.jar
server-*.jar
eula.txt
banned-ips.json
banned-players.json
commands.yml
help.yml
ops.json
permissions.yml
usercache.json
version_history.json
whitelist.json
world/
world_nether/
world_the_end/
plugins/
logs/
cache/
.console_history
server.properties